{
	"presets": [
		["@babel/preset-react"],
		["@babel/preset-env", {
			"targets": { "chrome": "71" },
			"spec": true,
			"loose": false,
			"modules": false,
			"debug": false,
			"useBuiltIns": "usage"
		}]
	],

	"plugins": ["@babel/plugin-syntax-dynamic-import"]
}
